In [36]:
import pandas as pd
from sklearn.utils import shuffle

In [20]:
A = pd.read_csv("bank-full.csv",sep=';')
B = pd.read_csv("bank-additional-full.csv",sep=';')

In [21]:
A.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')

In [22]:
B.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'y'],
      dtype='object')

In [23]:
display(A.head())

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [24]:
display(B.head())

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [26]:
print("Number of Instances in Train Data have y label = %d"%len(A[A["y"]=="yes"]))

Number of Instances in Train Data have y label = 5289

In [27]:
print("Number of Instances in Train Data have y label = %d"%len(A[A["y"]=="no"]))

Number of Instances in Train Data have y label = 39922

In [28]:
print("Number of Instances in Train Data have y label = %d"%len(B[B["y"]=="yes"]))

Number of Instances in Train Data have y label = 4640

In [29]:
print("Number of Instances in Train Data have y label = %d"%len(B[B["y"]=="no"]))

Number of Instances in Train Data have y label = 36548

In [30]:
A

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
5,35,management,married,tertiary,no,231,yes,no,unknown,5,may,139,1,-1,0,unknown,no
6,28,management,single,tertiary,no,447,yes,yes,unknown,5,may,217,1,-1,0,unknown,no
7,42,entrepreneur,divorced,tertiary,yes,2,yes,no,unknown,5,may,380,1,-1,0,unknown,no
8,58,retired,married,primary,no,121,yes,no,unknown,5,may,50,1,-1,0,unknown,no
9,43,technician,single,secondary,no,593,yes,no,unknown,5,may,55,1,-1,0,unknown,no
10,41,admin.,divorced,secondary,no,270,yes,no,unknown,5,may,222,1,-1,0,unknown,no
11,29,admin.,single,secondary,no,390,yes,no,unknown,5,may,137,1,-1,0,unknown,no
12,53,technician,married,secondary,no,6,yes,no,unknown,5,may,517,1,-1,0,unknown,no
13,58,technician,married,unknown,no,71,yes,no,unknown,5,may,71,1,-1,0,unknown,no
14,57,services,married,secondary,no,162,yes,no,unknown,5,may,174,1,-1,0,unknown,no
15,51,retired,married,primary,no,229,yes,no,unknown,5,may,353,1,-1,0,unknown,no
16,45,admin.,single,unknown,no,13,yes,no,unknown,5,may,98,1,-1,0,unknown,no
17,57,blue-collar,married,primary,no,52,yes,no,unknown,5,may,38,1,-1,0,unknown,no
18,60,retired,married,primary,no,60,yes,no,unknown,5,may,219,1,-1,0,unknown,no
19,33,services,married,secondary,no,0,yes,no,unknown,5,may,54,1,-1,0,unknown,no
20,28,blue-collar,married,secondary,no,723,yes,yes,unknown,5,may,262,1,-1,0,unknown,no
21,56,management,married,tertiary,no,779,yes,no,unknown,5,may,164,1,-1,0,unknown,no
22,32,blue-collar,single,primary,no,23,yes,yes,unknown,5,may,160,1,-1,0,unknown,no
23,25,services,married,secondary,no,50,yes,no,unknown,5,may,342,1,-1,0,unknown,no
24,40,retired,married,primary,no,0,yes,yes,unknown,5,may,181,1,-1,0,unknown,no
25,44,admin.,married,secondary,no,-372,yes,no,unknown,5,may,172,1,-1,0,unknown,no
26,39,management,single,tertiary,no,255,yes,no,unknown,5,may,296,1,-1,0,unknown,no
27,52,entrepreneur,married,secondary,no,113,yes,yes,unknown,5,may,127,1,-1,0,unknown,no
28,46,management,single,secondary,no,-246,yes,no,unknown,5,may,255,2,-1,0,unknown,no
29,36,technician,single,secondary,no,265,yes,yes,unknown,5,may,348,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45181,46,blue-collar,married,secondary,no,6879,no,no,cellular,15,nov,74,2,118,3,failure,no
45182,34,technician,married,secondary,no,133,no,no,cellular,15,nov,401,2,187,5,success,yes
45183,70,retired,married,primary,no,324,no,no,cellular,15,nov,78,1,96,7,success,no
45184,63,retired,married,secondary,no,1495,no,no,cellular,16,nov,138,1,22,5,success,no
45185,60,services,married,tertiary,no,4256,yes,no,cellular,16,nov,200,1,92,4,success,yes
45186,59,unknown,married,unknown,no,1500,no,no,cellular,16,nov,280,1,104,2,failure,no
45187,32,services,single,secondary,no,1168,yes,no,cellular,16,nov,411,1,-1,0,unknown,yes
45188,29,management,single,secondary,no,703,yes,no,cellular,16,nov,236,1,550,2,success,yes
45189,25,services,single,secondary,no,199,no,no,cellular,16,nov,173,1,92,5,failure,no
45190,32,blue-collar,married,secondary,no,136,no,no,cellular,16,nov,206,1,188,3,success,yes
45191,75,retired,divorced,tertiary,no,3810,yes,no,cellular,16,nov,262,1,183,1,failure,yes
45192,29,management,single,tertiary,no,765,no,no,cellular,16,nov,238,1,-1,0,unknown,yes
45193,28,self-employed,single,tertiary,no,159,no,no,cellular,16,nov,449,2,33,4,success,yes
45194,59,management,married,tertiary,no,138,yes,yes,cellular,16,nov,162,2,187,5,failure,no
45195,68,retired,married,secondary,no,1146,no,no,cellular,16,nov,212,1,187,6,success,yes
45196,25,student,single,secondary,no,358,no,no,cellular,16,nov,330,1,-1,0,unknown,yes
45197,36,management,single,secondary,no,1511,yes,no,cellular,16,nov,270,1,-1,0,unknown,yes
45198,37,management,married,tertiary,no,1428,no,no,cellular,16,nov,333,2,-1,0,unknown,no
45199,34,blue-collar,single,secondary,no,1475,yes,no,cellular,16,nov,1166,3,530,12,other,no
45200,38,technician,married,secondary,no,557,yes,no,cellular,16,nov,1556,4,-1,0,unknown,yes
45201,53,management,married,tertiary,no,583,no,no,cellular,17,nov,226,1,184,4,success,yes
45202,34,admin.,single,secondary,no,557,no,no,cellular,17,nov,224,1,-1,0,unknown,yes
45203,23,student,single,tertiary,no,113,no,no,cellular,17,nov,266,1,-1,0,unknown,yes
45204,73,retired,married,secondary,no,2850,no,no,cellular,17,nov,300,1,40,8,failure,yes
45205,25,technician,single,secondary,no,505,no,yes,cellular,17,nov,386,2,-1,0,unknown,yes
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

In [31]:
C = A[A["y"]=="yes"]

In [32]:
C

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
83,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
86,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
87,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
129,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
168,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes
270,42,management,single,tertiary,no,0,yes,yes,unknown,5,may,562,2,-1,0,unknown,yes
388,56,management,married,tertiary,no,830,yes,yes,unknown,6,may,1201,1,-1,0,unknown,yes
390,60,retired,divorced,secondary,no,545,yes,no,unknown,6,may,1030,1,-1,0,unknown,yes
446,39,technician,single,unknown,no,45248,yes,no,unknown,6,may,1623,1,-1,0,unknown,yes
457,37,technician,married,secondary,no,1,yes,no,unknown,6,may,608,1,-1,0,unknown,yes
474,34,admin.,married,secondary,no,869,no,no,unknown,6,may,1677,1,-1,0,unknown,yes
512,55,unemployed,divorced,secondary,no,387,yes,no,unknown,6,may,918,1,-1,0,unknown,yes
569,28,services,single,secondary,no,5090,yes,no,unknown,6,may,1297,3,-1,0,unknown,yes
624,30,technician,married,secondary,no,484,yes,no,unknown,6,may,703,1,-1,0,unknown,yes
694,36,technician,married,secondary,no,368,yes,yes,unknown,6,may,1597,2,-1,0,unknown,yes
849,37,admin.,single,secondary,no,245,yes,yes,unknown,7,may,732,2,-1,0,unknown,yes
877,45,blue-collar,married,secondary,no,154,yes,no,unknown,7,may,1138,1,-1,0,unknown,yes
891,53,services,divorced,primary,no,-291,yes,yes,unknown,7,may,591,1,-1,0,unknown,yes
897,38,admin.,single,secondary,no,100,yes,no,unknown,7,may,786,1,-1,0,unknown,yes
1087,30,blue-collar,married,secondary,no,309,yes,no,unknown,7,may,1574,2,-1,0,unknown,yes
1124,29,management,married,tertiary,no,199,yes,yes,unknown,7,may,1689,4,-1,0,unknown,yes
1140,46,blue-collar,single,tertiary,no,460,yes,no,unknown,7,may,1102,2,-1,0,unknown,yes
1172,31,technician,single,tertiary,no,703,yes,no,unknown,8,may,943,2,-1,0,unknown,yes
1173,39,blue-collar,married,primary,no,70,no,no,unknown,8,may,813,1,-1,0,unknown,yes
1193,35,management,divorced,tertiary,no,3837,yes,no,unknown,8,may,1084,1,-1,0,unknown,yes
1200,32,blue-collar,single,primary,no,611,yes,no,unknown,8,may,541,3,-1,0,unknown,yes
1247,49,services,married,secondary,no,-8,yes,no,unknown,8,may,1119,1,-1,0,unknown,yes
1273,41,admin.,married,secondary,no,55,yes,no,unknown,8,may,1120,2,-1,0,unknown,yes
1340,49,admin.,divorced,secondary,no,168,yes,yes,unknown,8,may,513,1,-1,0,unknown,yes
1370,28,admin.,divorced,secondary,no,785,yes,no,unknown,8,may,442,2,-1,0,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45157,52,technician,married,tertiary,no,0,no,no,cellular,9,nov,467,3,92,7,failure,yes
45160,35,technician,married,secondary,no,0,yes,no,cellular,9,nov,524,1,96,5,success,yes
45162,29,admin.,single,secondary,no,464,no,no,cellular,9,nov,208,2,91,3,success,yes
45166,41,unemployed,single,tertiary,no,79,no,no,telephone,9,nov,394,1,390,2,success,yes
45168,62,retired,married,tertiary,no,2557,yes,no,cellular,10,nov,404,1,57,8,success,yes
45174,62,blue-collar,married,secondary,no,272,no,no,cellular,11,nov,289,1,92,3,success,yes
45175,38,entrepreneur,single,secondary,no,2543,no,no,cellular,11,nov,357,3,93,5,success,yes
45176,54,admin.,married,secondary,no,66,yes,no,cellular,11,nov,167,1,-1,0,unknown,yes
45177,36,admin.,divorced,secondary,no,1224,yes,no,cellular,12,nov,482,1,374,1,success,yes
45178,34,blue-collar,married,secondary,no,320,yes,no,cellular,12,nov,413,1,92,3,success,yes
45182,34,technician,married,secondary,no,133,no,no,cellular,15,nov,401,2,187,5,success,yes
45185,60,services,married,tertiary,no,4256,yes,no,cellular,16,nov,200,1,92,4,success,yes
45187,32,services,single,secondary,no,1168,yes,no,cellular,16,nov,411,1,-1,0,unknown,yes
45188,29,management,single,secondary,no,703,yes,no,cellular,16,nov,236,1,550,2,success,yes
45190,32,blue-collar,married,secondary,no,136,no,no,cellular,16,nov,206,1,188,3,success,yes
45191,75,retired,divorced,tertiary,no,3810,yes,no,cellular,16,nov,262,1,183,1,failure,yes
45192,29,management,single,tertiary,no,765,no,no,cellular,16,nov,238,1,-1,0,unknown,yes
45193,28,self-employed,single,tertiary,no,159,no,no,cellular,16,nov,449,2,33,4,success,yes
45195,68,retired,married,secondary,no,1146,no,no,cellular,16,nov,212,1,187,6,success,yes
45196,25,student,single,secondary,no,358,no,no,cellular,16,nov,330,1,-1,0,unknown,yes
45197,36,management,single,secondary,no,1511,yes,no,cellular,16,nov,270,1,-1,0,unknown,yes
45200,38,technician,married,secondary,no,557,yes,no,cellular,16,nov,1556,4,-1,0,unknown,yes
45201,53,management,married,tertiary,no,583,no,no,cellular,17,nov,226,1,184,4,success,yes
45202,34,admin.,single,secondary,no,557,no,no,cellular,17,nov,224,1,-1,0,unknown,yes
45203,23,student,single,tertiary,no,113,no,no,cellular,17,nov,266,1,-1,0,unknown,yes
45204,73,retired,married,secondary,no,2850,no,no,cellular,17,nov,300,1,40,8,failure,yes
45205,25,technician,single,secondary,no,505,no,yes,cellular,17,nov,386,2,-1,0,unknown,yes
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes

In [33]:
D = A[A["y"]=="no"].head(5289)

In [34]:
E = pd.concat([C,D])

In [35]:
E

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
83,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
86,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
87,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
129,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
168,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes
270,42,management,single,tertiary,no,0,yes,yes,unknown,5,may,562,2,-1,0,unknown,yes
388,56,management,married,tertiary,no,830,yes,yes,unknown,6,may,1201,1,-1,0,unknown,yes
390,60,retired,divorced,secondary,no,545,yes,no,unknown,6,may,1030,1,-1,0,unknown,yes
446,39,technician,single,unknown,no,45248,yes,no,unknown,6,may,1623,1,-1,0,unknown,yes
457,37,technician,married,secondary,no,1,yes,no,unknown,6,may,608,1,-1,0,unknown,yes
474,34,admin.,married,secondary,no,869,no,no,unknown,6,may,1677,1,-1,0,unknown,yes
512,55,unemployed,divorced,secondary,no,387,yes,no,unknown,6,may,918,1,-1,0,unknown,yes
569,28,services,single,secondary,no,5090,yes,no,unknown,6,may,1297,3,-1,0,unknown,yes
624,30,technician,married,secondary,no,484,yes,no,unknown,6,may,703,1,-1,0,unknown,yes
694,36,technician,married,secondary,no,368,yes,yes,unknown,6,may,1597,2,-1,0,unknown,yes
849,37,admin.,single,secondary,no,245,yes,yes,unknown,7,may,732,2,-1,0,unknown,yes
877,45,blue-collar,married,secondary,no,154,yes,no,unknown,7,may,1138,1,-1,0,unknown,yes
891,53,services,divorced,primary,no,-291,yes,yes,unknown,7,may,591,1,-1,0,unknown,yes
897,38,admin.,single,secondary,no,100,yes,no,unknown,7,may,786,1,-1,0,unknown,yes
1087,30,blue-collar,married,secondary,no,309,yes,no,unknown,7,may,1574,2,-1,0,unknown,yes
1124,29,management,married,tertiary,no,199,yes,yes,unknown,7,may,1689,4,-1,0,unknown,yes
1140,46,blue-collar,single,tertiary,no,460,yes,no,unknown,7,may,1102,2,-1,0,unknown,yes
1172,31,technician,single,tertiary,no,703,yes,no,unknown,8,may,943,2,-1,0,unknown,yes
1173,39,blue-collar,married,primary,no,70,no,no,unknown,8,may,813,1,-1,0,unknown,yes
1193,35,management,divorced,tertiary,no,3837,yes,no,unknown,8,may,1084,1,-1,0,unknown,yes
1200,32,blue-collar,single,primary,no,611,yes,no,unknown,8,may,541,3,-1,0,unknown,yes
1247,49,services,married,secondary,no,-8,yes,no,unknown,8,may,1119,1,-1,0,unknown,yes
1273,41,admin.,married,secondary,no,55,yes,no,unknown,8,may,1120,2,-1,0,unknown,yes
1340,49,admin.,divorced,secondary,no,168,yes,yes,unknown,8,may,513,1,-1,0,unknown,yes
1370,28,admin.,divorced,secondary,no,785,yes,no,unknown,8,may,442,2,-1,0,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5425,37,services,divorced,secondary,no,239,yes,no,unknown,23,may,140,2,-1,0,unknown,no
5426,47,services,married,secondary,no,382,yes,no,unknown,23,may,57,4,-1,0,unknown,no
5427,39,admin.,divorced,secondary,no,2679,yes,yes,unknown,23,may,811,1,-1,0,unknown,no
5428,32,blue-collar,single,secondary,no,3,yes,no,unknown,23,may,108,3,-1,0,unknown,no
5429,55,technician,married,unknown,no,4746,yes,no,unknown,23,may,288,3,-1,0,unknown,no
5430,41,technician,single,secondary,no,30,no,no,unknown,23,may,1003,1,-1,0,unknown,no
5431,39,unemployed,married,secondary,no,-455,yes,no,unknown,23,may,542,2,-1,0,unknown,no
5432,30,technician,married,secondary,no,0,yes,no,unknown,23,may,541,2,-1,0,unknown,no
5433,31,blue-collar,single,secondary,no,-78,yes,yes,unknown,23,may,198,2,-1,0,unknown,no
5434,30,management,married,tertiary,no,302,yes,yes,unknown,23,may,302,1,-1,0,unknown,no
5435,44,admin.,married,unknown,no,-299,yes,no,unknown,23,may,268,1,-1,0,unknown,no
5436,31,unemployed,single,tertiary,no,1611,yes,no,unknown,23,may,154,2,-1,0,unknown,no
5437,34,management,married,tertiary,no,498,yes,no,unknown,23,may,216,2,-1,0,unknown,no
5438,32,admin.,married,secondary,no,0,no,no,unknown,23,may,206,3,-1,0,unknown,no
5439,26,unemployed,married,tertiary,no,454,yes,yes,unknown,23,may,28,18,-1,0,unknown,no
5440,39,self-employed,divorced,secondary,no,0,yes,no,unknown,23,may,210,2,-1,0,unknown,no
5441,35,admin.,divorced,secondary,no,30,no,no,unknown,23,may,186,1,-1,0,unknown,no
5442,35,services,single,secondary,no,511,yes,yes,unknown,23,may,472,1,-1,0,unknown,no
5443,32,admin.,single,secondary,no,127,yes,no,unknown,23,may,189,2,-1,0,unknown,no
5444,32,services,single,secondary,no,1940,yes,no,unknown,23,may,215,2,-1,0,unknown,no
5445,30,services,married,secondary,no,-108,yes,no,unknown,23,may,216,1,-1,0,unknown,no
5446,43,admin.,divorced,secondary,no,242,yes,no,unknown,23,may,174,1,-1,0,unknown,no
5447,29,blue-collar,single,secondary,no,1012,yes,no,unknown,23,may,926,1,-1,0,unknown,no
5448,27,admin.,married,secondary,no,-393,yes,yes,unknown,23,may,235,2,-1,0,unknown,no
5449,27,services,single,secondary,no,430,yes,no,unknown,23,may,116,2,-1,0,unknown,no
5450,33,blue-collar,married,secondary,no,-825,yes,no,unknown,23,may,228,2,-1,0,unknown,no
5451,29,blue-collar,married,unknown,no,135,yes,no,unknown,23,may,150,6,-1,0,unknown,no
5452,28,blue-collar,single,secondary,no,369,yes,no,unknown,23,may,411,3,-1,0,unknown,no
5453,32,management,married,tertiary,no,1522,yes,no,unknown,23,may,302,3,-1,0,unknown,no
5454,30,services,married,tertiary,no,523,yes,no,unknown,23,may,253,2,-1,0,unknown,no

In [37]:
E = shuffle(E)

In [38]:
E

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
43201,66,housemaid,divorced,primary,no,3701,no,no,telephone,3,mar,834,1,-1,0,unknown,yes
2991,45,unemployed,married,primary,no,1292,yes,no,unknown,14,may,70,2,-1,0,unknown,no
34087,28,student,single,tertiary,no,3054,no,no,cellular,30,apr,384,1,80,6,other,yes
31116,75,retired,married,primary,no,358,no,no,cellular,17,feb,364,11,-1,0,unknown,yes
34139,33,services,married,secondary,no,478,no,no,cellular,30,apr,475,2,-1,0,unknown,yes
3909,44,self-employed,married,secondary,no,1310,yes,no,unknown,16,may,290,1,-1,0,unknown,no
42474,47,management,single,tertiary,no,4402,no,no,telephone,10,dec,805,1,190,1,other,yes
37756,41,blue-collar,married,secondary,no,580,yes,no,cellular,14,may,874,1,363,1,failure,yes
3232,40,services,divorced,secondary,no,1927,yes,no,unknown,15,may,62,1,-1,0,unknown,no
45193,28,self-employed,single,tertiary,no,159,no,no,cellular,16,nov,449,2,33,4,success,yes
43115,32,management,married,tertiary,no,302,yes,yes,unknown,23,feb,61,1,384,2,failure,yes
4065,46,blue-collar,married,primary,no,7934,yes,no,unknown,19,may,123,1,-1,0,unknown,no
5388,25,blue-collar,married,secondary,no,51,yes,no,unknown,23,may,76,2,-1,0,unknown,no
2639,44,blue-collar,married,secondary,no,1340,yes,no,unknown,13,may,244,1,-1,0,unknown,no
3855,32,management,single,secondary,no,916,yes,no,unknown,16,may,381,2,-1,0,unknown,no
44778,58,management,married,tertiary,no,0,no,no,cellular,14,sep,358,2,-1,0,unknown,yes
43801,67,retired,married,primary,no,1430,no,no,telephone,26,may,283,2,135,5,success,yes
36845,38,management,single,tertiary,no,3646,yes,no,cellular,12,may,1710,2,286,1,other,yes
22409,53,blue-collar,married,secondary,no,25,no,no,cellular,22,aug,528,2,-1,0,unknown,yes
2141,32,entrepreneur,married,tertiary,no,108,yes,yes,unknown,12,may,112,1,-1,0,unknown,no
2565,46,blue-collar,divorced,primary,no,274,yes,no,unknown,13,may,20,1,-1,0,unknown,no
4344,23,technician,single,unknown,no,710,yes,no,unknown,19,may,374,6,-1,0,unknown,no
2246,50,admin.,married,secondary,no,1114,yes,yes,unknown,12,may,298,2,-1,0,unknown,no
442,36,blue-collar,married,secondary,no,139,yes,no,unknown,6,may,309,2,-1,0,unknown,no
40958,32,management,single,tertiary,no,2465,no,no,cellular,13,aug,414,1,-1,0,unknown,yes
33913,60,housemaid,married,primary,no,1163,no,no,cellular,30,apr,470,8,-1,0,unknown,yes
3145,41,blue-collar,divorced,secondary,no,5291,yes,no,unknown,14,may,1423,3,-1,0,unknown,yes
45035,47,admin.,married,secondary,no,3676,no,no,cellular,18,oct,567,1,95,3,success,yes
37692,39,technician,single,secondary,no,1355,yes,no,cellular,14,may,1180,1,-1,0,unknown,yes
3775,47,services,married,primary,no,1496,yes,no,unknown,16,may,211,2,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4686,37,blue-collar,married,secondary,no,32,yes,no,unknown,20,may,146,2,-1,0,unknown,no
10948,38,technician,single,tertiary,no,110,no,no,unknown,17,jun,1051,3,-1,0,unknown,yes
41104,77,retired,married,tertiary,no,0,no,no,cellular,17,aug,286,1,-1,0,unknown,yes
31771,65,retired,married,secondary,no,20806,no,no,telephone,8,apr,523,2,-1,0,unknown,yes
42998,35,management,married,tertiary,no,0,yes,no,cellular,11,feb,391,2,92,5,success,yes
29464,68,retired,divorced,primary,no,250,no,no,cellular,3,feb,360,1,-1,0,unknown,yes
34037,32,management,married,tertiary,no,4733,no,no,cellular,30,apr,532,1,-1,0,unknown,yes
24176,27,student,single,secondary,no,67,no,no,telephone,14,nov,239,1,-1,0,unknown,yes
288,32,blue-collar,married,secondary,no,1331,yes,no,unknown,5,may,286,2,-1,0,unknown,no
1257,35,self-employed,married,tertiary,no,844,yes,no,unknown,8,may,60,1,-1,0,unknown,no
3911,48,blue-collar,married,secondary,no,478,yes,yes,unknown,16,may,168,2,-1,0,unknown,no
42787,52,technician,married,tertiary,no,2557,no,no,cellular,28,jan,134,5,204,2,success,yes
40489,31,management,married,tertiary,no,1032,no,no,cellular,7,jul,284,1,-1,0,unknown,yes
3538,42,admin.,married,secondary,no,679,yes,no,unknown,15,may,194,2,-1,0,unknown,no
2322,45,blue-collar,married,primary,no,333,yes,no,unknown,13,may,160,3,-1,0,unknown,no
36110,43,management,divorced,tertiary,no,580,yes,no,cellular,11,may,1514,1,284,2,failure,yes
5407,25,blue-collar,single,primary,no,-221,yes,no,unknown,23,may,250,1,-1,0,unknown,no
650,29,student,single,secondary,no,209,yes,no,unknown,6,may,311,2,-1,0,unknown,no
5266,33,blue-collar,married,primary,no,463,yes,no,unknown,23,may,230,1,-1,0,unknown,no
36865,36,services,single,secondary,no,0,yes,no,cellular,12,may,398,6,-1,0,unknown,yes
20523,33,technician,married,secondary,no,3243,no,no,cellular,12,aug,439,4,-1,0,unknown,yes
375,49,blue-collar,single,secondary,no,143,yes,no,unknown,6,may,83,1,-1,0,unknown,no
41211,60,admin.,married,secondary,no,106,no,no,cellular,21,aug,216,3,91,1,success,yes
2050,49,management,divorced,tertiary,yes,0,yes,no,unknown,12,may,345,2,-1,0,unknown,no
5371,51,management,divorced,secondary,no,-175,yes,yes,unknown,23,may,270,1,-1,0,unknown,no
38556,36,admin.,single,secondary,no,148,yes,no,cellular,15,may,1357,4,374,2,failure,yes
42635,87,retired,married,primary,no,2190,no,no,telephone,12,jan,512,2,-1,0,unknown,yes
12899,32,admin.,single,secondary,no,212,no,no,cellular,7,jul,830,5,-1,0,unknown,yes
42322,24,blue-collar,married,secondary,no,272,no,no,cellular,16,nov,105,2,94,2,success,yes
5106,32,technician,single,secondary,no,644,yes,yes,unknown,21,may,198,1,-1,0,unknown,no

In [41]:
E.to_csv('balance.csv', sep=',', encoding='utf-8')